---
 apiVersion: v1
 kind: Pod
 metadata:
   name: {{ app_name }}
   labels:
     app: golang-{{ app_name }}
 spec:
   containers:
     - name: {{ app_name }}
       image: {{ app_name }}:{{ app_version }}
       ports:
         - containerPort: {{ app_port }}