package main

import (
    "fmt"
    "net/http"
)

func helloWorld(w http.ResponseWriter, r *http.Request){
    fmt.Fprintf(w, "Hello World from {{ app_name }} with version: {{ app_version }}\n")
}

func main() {
    http.HandleFunc("/", helloWorld)
    http.ListenAndServe(":{{ app_port }}", nil)
}